
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465652;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 44px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color:gray;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transform: 0.2s;

}
body{
    width: 100%;
    background-color: black;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(29, 1, 1, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

#logo {
    max-width: 85px ;
    max-height: 55px;
    mix-blend-mode: multiply;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
   
}
#navbar li a:hover{
    color: #088178;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background-color: #088178;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-content: center;
}
#close{
    display: none;
}


#hero {
    position: relative;
    width: 100%; /* Ensure it takes full width */
    height: 100vh; /* Ensure it takes full viewport height */
    overflow: hidden; /* Hide overflow content */
  }
  
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the entire area */
    z-index: -1; /* Place it behind other content */
  }

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image:url("img/sha.jpg") ;
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 50px 14px 35px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
    border-radius:29px;
}
#feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 250px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 30px 30px 34px rgba(0, 0, 0, 0.03);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    background-color: #fff;
}

#feature .fe-box:hover{
    box-shadow: 14px 10px 44px rgb(66, 10, 10);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(201, 101, 8);
}
#feature .fe-box:nth-child(3 ) h6{
    background-color: rgb(243, 115, 205);
}
#feature .fe-box:nth-child(4 ) h6{
    background-color: rgb(159, 181, 201);
}

#product1{
    text-align: center;
}

#product1 .pro-container{
 display: flex;
 justify-content: space-between;
 padding-top: 20px;
 flex-wrap: wrap;   
}

#product1 .pro{
    width: 23%;
    padding: 10px 12px;
    min-width: 250px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(182, 5, 5, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    background-color: rgb(255, 255, 255);
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(182, 5, 5, 0.06);

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #465652;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 12px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .next{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color:#0b0c0b ;
    font-weight: 500;
    color: #e1ecec;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-image: url("img/banner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(#0003,#000);
    
}
#banner11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-image: url("img/pack.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin-top: 30px;
}


#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #088178;
    
}
#banner11 h2 span{
    color: #0ae4d5;
    
}

#banner button:hover{
    background: #088178;
    color:white;
}
 
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner3.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#banner3 .banner-box2{
    background-image: url("img/ban3.jpg");
}

#banner3 .banner-box3{
    background-image: url("img/bann3.jpg");
}
#banner3 h2{
    color:white;
    font-weight: 900;
    font-size: 22px;
}
    
    
#banner3 h3{
    color: #1d1b1b;
    font-weight: 800;
    font-size: 15px;
}

#banner33 {
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 80px;
}


#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/news.jpg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-color: #088178;
    background-size: cover;
    background-position: cover;
    margin-bottom: 25px;
    height: 30vh;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #787974;
}
#newsletter p span{
    color: #0e0a01;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#log {
    max-width: 85px ;
    max-height: 55px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding: 10px;
    color: white;
}

footer p{
    font-size: 14px;
    margin:  0 0 8px 0;
    color: white;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
   
}
footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}
foter.install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{

    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
    margin-top: 12px;
    
}

#sec{
    max-width: 800px;
    margin: 20px auto;
   background-image: url(img/sil.jpg);
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    box-shadow: 0 0 20px rgb(	192,192,192);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
   cursor: auto;
}
#sec1{
    max-width: 800px;
    margin: 20px auto;
    background-image: url(img/gol.jpg);
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    box-shadow: 0 0 20px rgb(	255, 215, 0);
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#sec2{
    max-width: 800px;
    margin: 20px auto;
    background-image: url(img/platinum.jpg);
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    box-shadow: 0 0 20px rgb(	229, 228, 226);
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#pack{
    color: #000;
    text-decoration: none;
}
#wed h2{
   text-align: center;
  justify-content: space-between;
  padding-top: 40px;
}

#page-header{
    background-image: url("img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    
}


#page-header h2,
#page-header p{
    color: white;
}
#silver{
    background-image: url("img/sil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    
}
#silv{
    max-width: 400px;
    background-image: url(img/sil.jpg);
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto;
    margin-left: auto;
   
}

#silv h2{
    text-align: center;
    align-items: center;
}
#silver h2,
#silver p{
    color: rgb(0, 0, 0);
}

#gold{
    background-image: url("img/gold.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    
}
#gol{
    max-width: 400px;
    background-image: url(img/gold.jpg);
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto;
    margin-left: auto;
   
}
#go h2{
    color: #d4af37;
    align-items: center;
    text-align: center;

}

#gol h2{
    text-align: center;
    align-items: center;
}
#gold h2,
#gold p{
    color: rgb(0, 0, 0);
}
#platinum{
    background-image: url("img/platinum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    
}
#plat{
    max-width: 400px;
    background-image: url(img/platinum.jpg);
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto;
    margin-left: auto;
   
}
#pla h2{
    color: #797c81;
    align-items: center;
    text-align: center;

}

#plat h2{
    text-align: center;
    align-items: center;
}
#gold h2,
#gold p{
    color: rgb(0, 0, 0);
}
#wed h2{
    color: #BCC6CC;
}
#pagination{
    text-align: center;
}
#pagination  a{
 text-decoration: none;
 background-color: #088178;
 padding: 15px 20px;
 border-radius:4px ;
 color: #fff;
 font-weight: 600;
}

#pagination  a i{
    font-weight: 600;
    font-size: 16px;
}


#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#bir{
    height: 183px;
    width: 270px;
}
#model{
    height: 183px;
    width: 270px;
}


.small-img-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 60px ;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails  .single-pro-details{
    width: 70%;
    padding-top: 30px;
}
#prodetails  .single-pro-details h4{
    padding: 40px 0 20px 0;
    color: white;
}
#prodetails  .single-pro-details h4{
    font-size: 26px;
}
#prodetails  .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails  .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails  .single-pro-details button:hover{
    color: rgb(156, 240, 20);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
#prodetails  .single-pro-details input:focus{
    outline: none;
}
#prodetails  .single-pro-details span{
    line-height: 25px;
}
@media only screen and (max-width: 799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width: 200px;
        background-color: white;
        box-shadow: 0 40px 60px rgb(49, 49, 49) ;
        padding: 80px  10px 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        position: fixed;
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        

    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left:  30px;
        columns: #222;
        font-size: 24px;
    }
    #hero {
   height: 70vh;
   padding: 0 80px;
   background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box {
        justify-content: center;
        align-items: center;
        margin: 15px 15px;
        background-color: #fff;
    }
    .section-p1{
        padding:20px;
      }
   
      h1{
        font-size: 38px;
      }
      h2{
        font-size:32px;
      }
      #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails  .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
     #sec{
        width: 75%;
        height: 25vh;
     }
     #sec1{
        width: 75%;
        height: 25vh;
     }    
      #sec2{
        width: 75%;
        height: 25vh;
     }

      #product1 .pro{
        width:100%;
      }
      #banner{
        height:40vh;
      }
      #banner3{
        padding: 0 20px;
      }
      #banner3 .banner-box{
        width:100%;
      }


      #newsletter{
        padding: 40px 20px;
      }
      #newsletter .form{
        width:100%;
      }
      footer .copyright{
        text-align: start;
      }

}

/* CSS for mobile devices */
@media only screen and (max-width: 477px) {
    /* Adjust header layout for mobile */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width: 200px;
        background-color: white;
        box-shadow: 0 40px 60px rgb(49, 49, 49) ;
        padding: 80px  10px 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        position: fixed;
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #sec{
        max-width: auto;
        width: 75%;
        height: 25vh;
        font-size: 10px;
     }
     #sec1{
        max-width:auto;
        width: 75%;
        height: 25vh;
        font-size: 10px;
     }    
      #sec2{
        max-width: auto;
        width: 75%;
        height: 25vh;
        font-size: 10px;
    
     }
     #silver {
        background-image: url("img/sil.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }
    #silver h2, #silver p {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    #gold {
        background-image: url("img/gold.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }
    #gold h2, #gold p {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    #platinum {
        background-image: url("img/platinum.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left:  30px;
        columns: #222;
        font-size: 24px;
    }
    #hero {
   height: 70vh;
   padding: 0 80px;
   background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box {
        justify-content: center;
        align-items: center;
        margin: 15px 15px;
        background-color: #fff;
    }
    .section-p1{
        padding:20px;
      }
   
      h1{
        font-size: 38px;
      }
      h2{
        font-size:32px;
      }
      #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails  .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }


      #product1 .pro{
        width:100%;
      }
      #banner{
        height:40vh;
      }
      #banner3{
        padding: 0 20px;
      }
      #banner3 .banner-box{
        width:100%;
      }
      #newsletter{
        padding: 40px 20px;
      }
      #newsletter .form{
        width:100%;
      }
      footer .copyright{
        text-align: start;
      }
    }

